*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.info {
  border-bottom: solid #959495 1px;
  width: 420px;
  height: 100%;
  display: inline-block;
  }

.last {
    border-bottom: none;
  }

.container {
  margin: 0 auto;
  width: 420px;
}
.clock-bar {
  background-color: #F8F8F8;
  width: 420px;
  border: none;
  height: 24px;
}

.arrow-left {
  width: 50px;
  float: left;
}

.nav-wrap {
  position: fixed;
 background-color: #F8F8F8;
}

nav {
  margin: 0;
  padding: 15px 0 15px 15px;
  width: 420px;
  background-color: #F8F8F8;
  display: inline-block;
}


.edit, .fa-chevron-left {
  color: #007AFF !important;
}

.nav-title {
  font-size: 20px;
  float: left;
  padding-left: 110px;
}

.edit {
  font-size: 16px;
  float: right;
  padding-right: 16px;
}

section.bus-list {
  background-color: #F8F8F8;
  width: 100%;
  padding-top: 10px;
}

.bus {
  float: left;
  padding: 25px 0px 25px 16px; 
  width: 155px;
}

.time {
  float: left;
  padding-left: 10px;
  padding-top: 25px;
  width: 125px;
}

.minutes {
  float: left;
  padding-left: 10px;
  padding-top: 27px;
  color: #007AFF;
}

.arrow {
  float: right;
  padding: 25px 16px 25px 0px;
}
.fa-2x {
  font-size: 12px !important;
}

h1 {
  font-weight: bold;
  padding-bottom: 5px;
}
h3 {
  font-size: 12px;
}
.info:hover {
  background-color: #B4B2B4;
}

.quick-view {
  background-color: #F8F8F8;
  height: 200px;
  padding-top: 75px;
}

.stop {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
.wrapper {
  width: 420px;
  height: 100px;
  display: inline-block;
  padding-top: 20px;
  border-bottom: solid #959495 1px;
}

.next {
float: left;
padding-left: 22%;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

.next h1 {
  font-size: 22px;
  padding: 5px 0 5px 0;
}

.timing {
  float: left;
  padding-left: 85px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.timing h1 {
  font-size: 22px;
  padding: 5px 0 0 0;
}

.tab-bar {
  width: 420px;
}